/* src/VideoSlideshow.css */

.video-slideshow-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Hide overflow to create a sliding effect */
}

.video-slideshow {
    display: flex;
    transition: transform 1s ease-in-out;
}

.video-slideshow__video {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 8px;
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease;
}

.video-slideshow__video.active {
    opacity: 1;
    position: relative;
}